/*
************
*************************
08. App Download
******************************************************* 
*************************************************************** */

.app-download-2 {
    background: url(../images/app-download-bg.jpg) center center no-repeat;
    background-size: cover;
}
.app-download-title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 600;
    color: $white;
}