/*
************
*************************
06. CTA
******************************************************* 
*************************************************************** */

.cta {
    background: url(../images/cta-bg.png) center center no-repeat;
    background-size: cover;
}
.cta-title {
    font-size: 52px;
    font-weight: 600;
    line-height: 1.2;
    color: $white;
}