
/*
************
*************************
28. Error
******************************************************* 
*************************************************************** */

.error-title {
	font-size: 52px;
	color: #00394f;
	margin-bottom: 15px;
    font-weight: 600;
    line-height: 1.2;
}